.container-fluid, h1, #container-do-footer .col-md-6
{
    /* border: 1px solid black; */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-fluid{
    background-color: rgb(0, 169, 247);
}
h1{
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
#container-da-imagem-de-fundo-introducao{
    height: 100vh;
    background-image: url(../Img/palestra.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
#container-do-forms{
    background-color: rgba(169, 169, 169, 0.767);
    /* border-radius: 10px; */
    /* border: 1px solid black; */
    height: 91.1%;
}
#container-do-footer{
    background-color: black;
    height: 100vh;
}
#container-do-footer .row{
    background-color: rgb(36, 35, 35);
}
#foto-do-autor{
    width: 40%;
    height: auto;
}
#titulo-da-img-do-footer,.texto-da-img-do-footer{
color: white;
}