*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}
header h1{
    text-align: center;
    font-weight: bold;
}
main{
    width: 30%;
    height: 75%;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(41, 37, 37);
    box-shadow: 8px 8px 10px black;
}
#visor{
    height: 80px;
    border: 1px solid;
    background-color: white;
}
#visor-de-entrada, #visor-de-saida{
    text-align: end;
    margin-right: 10px;
    font-size: 35px;
    height: 50%;
}
#visor-de-saida{
    color: rgba(0, 0, 0, 0.562);
}
#corpo-da-calculadora{
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#container-do-teclado{
    /* width: 100%; */
    height: 220px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.fileira-de-teclas{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}
.fileira-de-teclas button{
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(66, 66, 66);
    color: white;
    font-weight: bold;
    border: none;
}
.fileira-de-teclas button:hover{
    font-size: 25px;
    cursor: pointer;
}
.fileira-de-teclas #botao-0{
    width: 218px;
}
.fileira-de-teclas #botao-apagar{
    margin-right: 160px;
    background-color: #ff0000;
}
