*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Helvetica;
}
body{
    background-color: #2c2c2c;
}
h2{
    margin-bottom: 25px;
}
/* To Do Container */
#main-container{
    background-color: #242424;
    position: relative;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 5vh;
}
/* Add Container */
#add-container{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1p solid #444;
}
#add-container input, #add-container button{
    padding: 10px;
    background-color: #393939;
    border: none;
    width: 80%;
    display: inline-block;
}
#add-container input{
    height:42.8px;
}
#add-container button{
    width: 18%;
    height: 42.9px;
    cursor: pointer;
    transition: .5s;
}
#add-container button i{
    font-size: 18px;
    color: #ff7066;
}
#add-container button:hover{
    background-color: #ff7066;
}
#add-container button:hover > i{
    color: #242424;
}
/* Tasks Container */
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #444;
}
.task:hover .bi.bi-trash{
    color: white;
}
.hide{
    display: none;
}
.bi.bi-check{
    border-radius: 50%;
    border: 1px solid #444;
    padding: 7px;
    margin-right: 10px;
}
.bi.bi-check.done{
    color: #0dd677;
    border-color: #0dd677;
}
.bi.bi-check:hover, .bi.bi-trash:hover{
    color: #ff7066;
    border-color: #ff7066;
}
.bi.bi-trash{
    cursor: pointer;
    color: transparent;
}
#empty-tasks{
    text-align: center;
    margin: 25px 0;
}
/* Responsividade */
@media(max-width:425px){
    #main-container{
     max-width: 90%;
   }
}
@media(max-width:375px){
    #add-container h2,#task-container h2{
        font-size: 23px;
    }
}
@media(max-width:320px){
    #add-container h2, #task-container h2{
        font-size: 18px;
    }
}