*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 50vh;
    background-color: #eceff1;
    transition: 0.4s;
}
input[type="checkbox"]{
    display: none;
}
.bi{
    font-size: 1.3rem;
    cursor: pointer;
}
.bi-moon{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eceff1;
    box-shadow: .5px .5px 10px .5px #000;
    padding: 1rem 2rem;
    position: relative;
}
main{
    display: flex;
    justify-content: center;
}
.card{
    margin-top: 4rem;
    display: flex;
    width: 60%;
    height: 375px;
    /* background-color: #fff; */
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    
}
.card-image{
    padding: 2rem;
    width: 50%;
    position: relative;
    background-color: #eff7fc;
}
.card-image span{
    font-size: 6rem;
    font-weight: 900;
}
.card img{
    margin-top: -90px;
    margin-left: -110px;
    width: 160%;
    transform: rotate(-25deg);
}
.card .card-detalhe h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.subtitulo{
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 1rem;
}
.descricao{
    line-height: 1.6rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2rem;
}
.preco-container{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.preco{
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.btn{
    background-color: #444;
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
/* Dark Theme */
.dark,.dark header{
    background-color: #263238;
    color: #fff;
}

.dark .bi-sun{
    display: none;
}
.dark .bi-moon{
    display: block;
}
.dark .card{
    background-color: #37474f;
}
.dark .card-image{
    background-color: #273035;
}
.dark .subtitulo, .dark .btn{
    color: #67b4f3;
}
.dark .descricao{
    color: #2196f3;
}
.dark .btn{
    border: 1px solid #fff;
}