@media(max-width:768px){
  body .jogadores{
    height: 115%;
  }
}
@media (max-width: 425px) {
  body h1 {
    font-size: 30px;
  }
  body section {
    width: 100%;
  }
  body .jogadores {
    margin: 0 20px;
  }
  body .jogadores input {
    width: 100%;
  }
  body main {
    width: 100%;
  }
}
@media(max-width:375px){
     ::placeholder{
        font-size: 11.5px;
     }
}
@media(max-width:320px){
    body .jogadores input{
        width: 122%;
    }
}
