*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    margin: 10px 0;
    font-size: 40px;
    font-family: 'Irish Grover', cursive;
}
main{
    width: 50%;
    height: 68vh;
    /* border: 1px solid #ff0000; */
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section{
    width: 50%;
    height: 20vh;
    margin: 0 auto;
    /* border: 1px solid #0000ff; */
    display: flex;
}
.jogadores{
    border-bottom: 2px solid ;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.jogadores label{
    font-size: 25px;
    font-family: 'Irish Grover', cursive;
}
.jogadores label[for = "jogador-1"]{
    color: blue;
}
.jogadores label[for = "jogador-2"]{
    color: red;
}
div{
    width: 33%;
    height: 33%;
}
#bloco-1, #bloco-2,#bloco-4,#bloco-5{
    border-width: 0 2px 2px 0;
    border-style: solid;
}
#bloco-3,#bloco-6{
    border-width: 0 0 2px 0;
    border-style: solid;
}
#bloco-7, #bloco-8{
    border-width: 0 2px 0 0;
    border-style: solid;
}
